[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
certifi = "==2020.12.5"
distlib = "==0.3.1"
filelock = "==3.0.12"
pipenv = "==2020.11.15"
six = "==1.15.0"
virtualenv = "==20.4.0"
virtualenv-clone = "==0.5.4"
django = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
coverage = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python main.py runserver"
test = "python -m unittest discover -v"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
